html {
  height: 100vh;
  background-color: #397367;
}
body, div#wrapper, div#maincontent {
  min-height: 100vh;
}

div#sidebarleft {
  border-style: none;
  border-right-style: solid;
  border-right-width: 5px;
  border-color: #29339b;
  background-color: #74a4bc;

  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: scroll;
  padding-bottom: 60px;
  /* margin-left: -200px; */
}

div#sidebarleft h1{
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #29339b; 
  padding-bottom: 0.2em;
  margin-bottom: 0;
}


div#sidebarright {
  padding: 10px;
  border-style: none;
  background-color: #74a4bc;
  border-left-style: solid;
  border-left-width: 5px;
  border-color: #29339b;

  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

div#maincontent {
  /* width: 100%; */
  background-color: palegreen;
}

div#wrapper {
  /* background-color: #74a4bc; */
  padding-left: 300px;
  padding-right: 300px;
  min-height: 100%;
}

div.container1 {
  background-color: #397367;
  min-height: 100vh;
}

div.container1 h1{
  margin: 10px;
}

div.sidebarpaper {
  background-color: #706c61;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #29339b; 
}

div#sidebarleft .highlight {
  background-color: #fe4e00; 
}

div#sidebaraddpaper {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 50px;
  background-color: #fe4e00;
  border-right-style: solid;
  border-right-width: 5px;
  border-top-style: solid;
  border-top-width: 5px;
  border-color: #29339b;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}

div#filepicker-outer {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
}

div#filepicker-inner {
  /* margin: 100px; */
  width: 100%;
  height: 100%;
  background-color: #74a4bc;
  /* overflow: scroll; */
  border-width: 5px;
  border-style: solid;
  border-color: #29339b;
}

div#filepicker-close {
  position: fixed;
  z-index: 4;
  top: 110px;
  right: 110px;
  cursor: pointer;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}
/* 
input#addPaperBtn {
  position: fixed;
  z-index: 4;
  bottom: 110px;
  right: 110px;
} */
