<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paper manager</title>

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../statics/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper" ng-app="paperMgr" ng-controller="topCtrl">
      <div id="sidebarleft">
        <h1>Papers:</h1>
        <div>
          Filter: <input type="text" placeholder="filter" ng-model="filter">
          <i class="fa fa-times" ng-click="filter=''"></i>
        </div>
        <div ng-hide="filter==''">
          <div ng-repeat="paper in papers track by $index" ng-show="paper.title.toLowerCase().includes(filter.toLowerCase())" class="sidebarpaper" ng-click="sidebar($index)" ng-class="{'highlight': shouldHl(paper, hlKey, hlVal)}"> 
            {{paper.title}}
            <i class="fa fa-check-circle" ng-show="paper.read"></i>
            <i class="fa fa-times-circle" ng-hide="paper.read"></i>
          </div>
        </div>
        <div ng-show="filter==''">
          <div class="sidebar-tag" ng-click="tagSidebarShow['all']=!tagSidebarShow['all']">All</div>
          <div ng-show="tagSidebarShow['all']">
            <div ng-repeat="paper in papers track by $index" class="sidebarpaper" ng-click="sidebar($index)" ng-class="{'highlight': shouldHl(paper, hlKey, hlVal)}">
              {{paper.title}}
              <i class="fa fa-check-circle" ng-show="paper.read"></i>
              <i class="fa fa-times-circle" ng-hide="paper.read"></i>
            </div>
          </div>
          <div ng-repeat="tag in tagCache track by $index">
            <div class="sidebar-tag" ng-click="tagSidebarShow[tag]=!tagSidebarShow[tag]">{{tag}}</div>
            <div ng-show="tagSidebarShow[tag]">
              <div ng-repeat="paper in papers track by $index" ng-show="paper.tags.indexOf(tag) > -1" class="sidebarpaper" ng-click="sidebar($index)" ng-class="{'highlight': shouldHl(paper, hlKey, hlVal)}">
                {{paper.title}}
                <i class="fa fa-check-circle" ng-show="paper.read"></i>
                <i class="fa fa-times-circle" ng-hide="paper.read"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- <div id="sidebaraddpaper" ng-click="showFilePicker()">
          Add paper
          <input type="file" id="fileLoader" name="files" title="Load File" />
        </div> -->
        <div id="sidebaraddpaper" ng-click="showAddPaper=true">Add paper</div>
      </div>
      <div id="maincontent">
        <div class="container1">
          <h1>{{papers[currentPaper].title}}</h1>
          <br />
          <iframe id="pdfviewer" src="../statics/test.pdf" width= "100%" height= "1000px" plugins></iframe>
        </div>
      </div>
      <div id="sidebarright">
        <h1>Notes:</h1>
        <div class="form-group">
          <label for="notes">Notes:</label>
          <textarea ng-blur="saveFileToDisk()" ng-change="saveFileTimeout()" ng-model="papers[currentPaper].notes" class="form-control" rows="5" id="notes"></textarea>
        </div>
        <input ng-show="papers[currentPaper].unlocked" class="form-control" ng-model="papers[currentPaper].easyname" ng-change="saveFileTimeout()" ng-blur="saveFileToDisk()" >
        <div ng-hide="papers[currentPaper].unlocked">BibTex name: {{papers[currentPaper].easyname}}</div>
        <input type="button" ng-hide="papers[currentPaper].unlocked" class="btn" value="Unlock editing name" ng-click="papers[currentPaper].unlocked=true">
        <input type="button" ng-show="papers[currentPaper].unlocked" class="btn" value="Lock editing name" ng-click="papers[currentPaper].unlocked=false"> 
        <h2>Tags:</h2>
        <div ng-repeat="tag in papers[currentPaper].tags track by $index">{{tag}} <i class="fa fa-close" ng-click="removetag(tag)"></i></div>
        <form ng-submit="addtag()">
          <div class="form-group">
            <label for="tags">New tag:</label>
            <input class="form-control typeahead" ng-model="newTag" id="tags" placeholder="Press enter to add" data-provide="typeahead" autocomplete="off">
          </div>
        </form>
        <input type="button" ng-hide="papers[currentPaper].read" ng-click="papers[currentPaper].read=true;saveFileToDisk()" class="btn btn-success" value="Mark as read">
        <input type="button" ng-show="papers[currentPaper].read" ng-click="papers[currentPaper].read=false;saveFileToDisk()" class="btn btn-danger" value="Mark as unread">
        <div>Title: {{papers[currentPaper].title}}</div>
        <div ng-repeat="author in papers[currentPaper].authors track by $index">
          <div ng-mouseenter="setHlAuthors(author)" ng-mouseleave="resetHlAuthors()">
            Author: {{author}}
          </div>
        </div>
        <div ng-mouseenter="hlKey='year';hlVal=papers[currentPaper].year" ng-mouseleave="hlKey='';hlVal=''">Year: {{papers[currentPaper].year}}</div>
        <div ng-mouseenter="hlKey='journalName';hlVal=papers[currentPaper].journalName" ng-mouseleave="hlKey='';hlVal=''">Journal Name: {{papers[currentPaper].journalName}}</div>
        <div ng-mouseenter="hlKey='publisher';hlVal=papers[currentPaper].publisher" ng-mouseleave="hlKey='';hlVal=''">Publisher: {{papers[currentPaper].publisher}}</div>
        <div>ISBN: {{papers[currentPaper].isbn}}</div>
      </div>

      <div id="filepicker-outer" ng-show='showAddPaper'>
        <div id="filepicker-inner">
          <h2>Choose .RIS file</h2>
          <div class="form-group">
            <label for="risfile">RIS file:</label>
            <input class="form-control" ng-model="risFile" id="risfile">
          </div>
          <input type="button" class="btn" ng-click="selectRisFile()" value="Pick file">
          
          <div>Title: {{addPaperDetails.title}}</div>
          <div ng-repeat="author in addPaperDetails.authors track by $index">Author: {{author}}</div>
          <div>Year: {{addPaperDetails.year}}</div>
          <div>Journal Name: {{addPaperDetails.journalName}}</div>
          <div>Publisher: {{addPaperDetails.publisher}}</div>
          <div>ISBN: {{addPaperDetails.isbn}}</div>

          
          <h2>Choose PDF file</h2>
          <div class="form-group">
            <label for="pdffile">PDF file:</label>
            <input class="form-control" ng-model="pdfFile" id="pdffile">
          </div>
          <input type="button" class="btn" ng-click="selectPdfFile()" value="Pick file"><br ><br >
          <input type="button" class="btn" ng-click="addPaper()" value="Add paper" id="addPaperBtn">
          
          <!-- <div ng-show="filepicker.error">{{filepicker.errorMsg}}</div> -->
          <!-- Current directory: <span ng-repeat="dir in filepicker.splitCurrDir() track by $index" ng-click="splitCurrDirClick($index)">{{dir}}/</span> -->
          <!-- <div ng-repeat="dir in filepicker.dirs track by $index" ng-click="dirClick(dir)"><i class="fa fa-folder"></i> {{dir}}</div> -->
          <!-- <div ng-repeat="file in filepicker.files track by $index" ng-click="fileClick(file)"><i class="fa fa-file"></i> {{file}}</div> -->
          <div id="filepicker-close" ng-click="showAddPaper=false"><i class="fa fa-window-close fa-3x"></i></div>
        </div>
      </div>
  
    </div>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script> -->
    <!-- <script type="text/javascript" src="../statics/js/client.js"></script> -->
    <script>require('angular')</script>
    <script>window.$ = window.jQuery = require('jquery')</script>
    <script>require('bootstrap-3-typeahead')</script>
    <script>require('../statics/js/client.js')</script>
  </body>
</html>